# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
*.egg-info/
.eggs/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp

# Project specific
outputs/
wandb/
.DS_Store
